---
layout: index
title: ಗೀತೆ
tagline: 
tags : [song, geethe, haadu]
img : 
img-mobile :
css: 
js: portfolio.js
keywords: song, geethe, haadu
canonical: https://gnanasangama.github.io
---
{% include JB/setup %}
    <!-- Content Area Start -->
<div id="content">
  <section id="portfolio" class="section">
    <!-- Language Container Starts -->
    <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header-title">
          <h2 class="heading-title text-center">ಗೀತೆ</h2>
        </div>
      </div>
        <div class="col-md-6" style="display: inline-block;">
        <div class="panel-group tabbed col-12">
          <div class="panel">
            <div class="panel-heading">
              <a class="panel-title collapsed" data-toggle="collapse" href="#song-playlist" aria-expanded="false">ಗೀತೆಗಳ ಪ್ಲೇಪಟ್ಟಿ (Songs Playlist)</a>
            </div>
            <div id="song-playlist" class="panel-collapse collapse" aria-expanded="false" style="">
              <div class="panel-body text-gray">
                <iframe src="https://www.youtube.com/embed/videoseries?list=PLw51DpUFa8_f37phqflmbKd4EIbYRKED-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="width: -webkit-fill-available;height: 30vh;"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="tabs-accordions">
        <div class="container">
          <div class="row">
            <!-- tabs 1 -->
            <div class="col-12" style="margin-bottom:10px;">
                    <div class="row">
                      <div class="col-md-12">
                        <!-- Portfolio Controller/Buttons -->
                        <div class="controls text-center wow fadeInUpQuick" data-wow-delay=".6s">
                          <a class="filter active btn btn-common" data-filter="all">
                            ಎಲ್ಲ ಗೀತೆಗಳು 
                          </a>
                          {% for post in site.vishaya %}
                          {% if post.language == "kannada" %}
                            <a class="filter btn btn-common" data-filter=".{{ post.language }}-{{ post.tid }}">
                              {{ post.title }} 
                            </a>
                          {% endif %}
                          {% endfor %}
                            <a class="filter active btn btn-common btn-warning" data-filter=".hindi">हिंदी</a>
                        </div>
                      </div>

                      <!-- Portfolio Recent Projects -->
                      <div id="portfolio" class="row wow fadeInUpQuick" data-wow-delay="0.8s">
                        {% for post in site.vishaya %}
                        {% if post.language == "kannada" %}
                        {% for content in post.contents %}
                          <div class="col-sm-6 mix {{ post.language }}-{{ post.tid }}">
                            <div class="panel-group tabbed col-12">
                              <div class="panel">
                                <div class="panel-heading">
                                  <a class="panel-title collapsed" data-toggle="collapse" href="#{{ post.language }}{{ post.tid }}{{ content.id }}">{{ content.t }}</a>
                                </div>
                                <div id="{{ post.language }}{{ post.tid }}{{ content.id }}" class="panel-collapse collapse">
                                  <div class="panel-body text-gray">
                                    <ul>
                                    {% if content.yt-link %}
                                        <iframe src="https://www.youtube.com/embed/{{ content.yt-link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="width: -webkit-fill-available;" height="250"></iframe>
                                        <hr>
                                    {% endif %}
                                    <li>{{ content.c }}</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                          
                          {% for post in site.vishaya %}
                        {% if post.language == "hindi" %}
                        {% for content in post.contents %}
                          <div class="col-sm-6 mix {{ post.language }}">
                            <div class="panel-group tabbed col-12">
                              <div class="panel">
                                <div class="panel-heading">
                                  <a class="panel-title collapsed" data-toggle="collapse" href="#{{ post.language }}{{ post.tid }}{{ content.id }}">{{ content.t }}</a>
                                </div>
                                <div id="{{ post.language }}{{ post.tid }}{{ content.id }}" class="panel-collapse collapse">
                                  <div class="panel-body text-gray">
                                    <ul>
                                    {% if content.yt-link %}
                                        <iframe src="https://www.youtube.com/embed/{{ content.yt-link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="width: -webkit-fill-available;" height="250"></iframe>
                                        <hr>
                                    {% endif %}
                                    <li>{{ content.c }}</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Container Ends -->
  </section>
  <!-- Portfolio Section Ends -->
