---
layout: index
title: ಗೀತೆ
---
{% include JB/setup %}
    <!-- Content Area Start -->
<div id="content" style="padding-top:10vh;">
      <!-- tabs-accordions -->
      <div class="tabs-accordions">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="page-header-title">
		      <h2 class="heading-title text-center"><b>ಗೀತೆ</b></h2>
              </div>
            </div>
          </div>
          <div class="sub-title">
            <span></span>
          </div>
          <!-- accordions -->
          <div class="row">
			{% for post in site.vishaya %}
			{% if post.category == "geethe" %}
            <div class="col-sm-6">
              <div class="panel-group tabbed">
                <div class="panel">
                  <div class="panel-heading">
                    <a class="panel-title collapsed" data-toggle="collapse" href="#{{ post.category }}">{{ post.title }}</a>
                  </div>
                  <div id="{{ post.category }}" class="panel-collapse collapse">
                    <div class="panel-body text-gray">
                    	<ul>
            		{% for content in post.contents %}
                      <li>{{ content.c }}</li><hr>
            		{% endfor %}
            	        </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
			{% endif %}
			{% endfor %}
          </div>
            </div>
      </div>
      <!-- tabs-accordions -->
    </div>

<section id="portfolio" class="section">
        <!-- Container Starts -->
        <div class="container">
          <div class="sub-title">
            <span>Portfolio Style #1</span>
          </div>
          <div class="row">
            <div class="col-md-12">
              <!-- Portfolio Controller/Buttons -->
              <div class="controls text-center wow fadeInUpQuick" data-wow-delay=".6s">
                <a class="filter active btn btn-common" data-filter="all">
                  All 
                </a>
                <a class="filter btn btn-common" data-filter=".branding">
                  Branding 
                </a>
                <a class="filter btn btn-common" data-filter=".marketing">
                  Marketing
                </a>
                <a class="filter btn btn-common" data-filter=".planning">
                  Planning 
                </a>
                <a class="filter btn btn-common" data-filter=".research">
                  Research 
                </a>
              </div>
              <!-- Portfolio Controller/Buttons Ends-->
            </div>

            <!-- Portfolio Recent Projects -->
            <div id="portfolio" class="row wow fadeInUpQuick" data-wow-delay="0.8s">
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img src="https://i.pinimg.com/originals/9c/9b/0a/9c9b0af44f3be5b1a07c4462aa5c14ef.jpg" alt="" />
                  </div>
                  <div class="portfoli-content">
                    <div class="sup-desc-wrap">
                      <div class="sup-desc-inner">
                        <div class="sup-link">
                          <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                          <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="sup-meta-wrap">
                          <a class="sup-title" href="#">
                            <h4>TITLE HERE</h4>
                          </a>
                          <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix branding planning">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img src="{{ BASE_PATH }}/assets/images/portfolio/img2.jpg" alt="" />
                  </div>
                  <div class="portfoli-content">
                    <div class="sup-desc-wrap">
                      <div class="sup-desc-inner">
                        <div class="sup-link">
                          <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                          <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="sup-meta-wrap">
                          <a class="sup-title" href="#">
                            <h4>TITLE HERE</h4>
                          </a>
                          <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix branding research">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img src="{{ BASE_PATH }}/assets/images/portfolio/img3.jpg" alt="" />
                  </div>
                  <div class="portfoli-content">
                    <div class="sup-desc-wrap">
                      <div class="sup-desc-inner">
                        <div class="sup-link">
                          <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                          <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="sup-meta-wrap">
                          <a class="sup-title" href="#">
                            <h4>TITLE HERE</h4>
                          </a>
                          <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing research">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img src="{{ BASE_PATH }}/assets/images/portfolio/img4.jpg" alt="" />
                  </div>
                  <div class="portfoli-content">
                    <div class="sup-desc-wrap">
                      <div class="sup-desc-inner">
                        <div class="sup-link">
                          <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                          <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="sup-meta-wrap">
                          <a class="sup-title" href="#">
                            <h4>TITLE HERE</h4>
                          </a>
                          <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img src="{{ BASE_PATH }}/assets/images/portfolio/img5.jpg" alt="" />
                  </div>
                  <div class="portfoli-content">
                    <div class="sup-desc-wrap">
                      <div class="sup-desc-inner">
                        <div class="sup-link">
                          <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                          <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="sup-meta-wrap">
                          <a class="sup-title" href="#">
                            <h4>TITLE HERE</h4>
                          </a>
                          <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix planning research">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img src="{{ BASE_PATH }}/assets/images/portfolio/img6.jpg" alt="" />
                  </div>
                  <div class="portfoli-content">
                    <div class="sup-desc-wrap">
                      <div class="sup-desc-inner">
                        <div class="sup-link">
                          <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                          <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="sup-meta-wrap">
                          <a class="sup-title" href="#">
                            <h4>TITLE HERE</h4>
                          </a>
                          <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Container Ends -->
      </section>
