          <div class="blog-block about-sidebar-widget">
            {% if page.author-img %}<img src="{{ BASE_PATH }}/assets/images/author/{{ site.author-img }}.jpg">{% endif %}
            <h4><a href="{{ site.author.site }}">{{ page.author }}</a></h4>
            <p>{{ page.author-details }}</p>
            {% include social-block.html %}
          </div>

          <div class="mb-60"></div>
          
          <div class="blog-block blog-posts-widget side-bar sticky-top" style="top:10vh;">
            <div class="widget-title">
              <h4>Sponsor</h4>
            </div>
            {% include ads-block.html %}
          <div>
