---
layout: index
---
{% include JB/setup %}
    <!-- Content Area Start -->
<div id="content" style="">
      <!-- tabs-accordions -->
      <div class="tabs-accordions">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="page-header-title">
                <h2 class="heading-title text-center">{{ page.title }}</h2>
              </div>
            </div>
          </div>
          <div class="sub-title">
            <span></span>
          </div>
          <div class="row">
            <!-- tabs 1 -->
            <div class="col-md-6 col-sm-6">
              <div id="round-tab">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#A" role="tab">ಗೀತೆ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#B" role="tab">ಅಮೃತವಚನ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#C" role="tab">ಶ್ಲೋಕ</a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active" id="A" role="tabpanel">
                    <p>{{ page.geethe }}</p>
                    <iframe src="https://www.youtube.com/embed/{{ page.geethe-yt }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="
width: -webkit-fill-available;
" height="250"></iframe>
                  </div>
                  <div class="tab-pane" id="B" role="tabpanel">
                    <p>{{ page.amruthavachana }}</p>
                  </div>
                  <div class="tab-pane" id="C" role="tabpanel">
                    <p>{{ page.shloka }}</p>
                  </div>
                </div>
              </div>
            </div>
              </div>
            </div>
      </div>
      <!-- tabs-accordions -->
    </div>
